*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    margin: 0;    
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding : 3px;
}

.home-team {
    color : RoyalBlue;    
}

.away-team {
    color : SteelBlue;
}

.game-status {
    color : #009900 ;
}

.game-gpb {
    color : #009900 ;
}

.game-country {
    color : #009900 ;
}


.w3-table td.kef {
    text-align : center;
    font-weight : bold;
}

.kef-back {
    background : #72bbef;
}

.kef-lay {
    background : #faa9ba;
}

tr:hover td.kef-back {
    background:  #4F9BD0;
}


tr:hover td.kef-lay {
    background: #DF8397;
}

