<div class="w3-indigo">
    <div style="text-align: left; padding-left : 5px;">
        <div data-replace="navback">

        </div>
    </div>
    
    <table>
        <tr>
            <td>
                <h1 style="text-align: right;">
                    ${home}
                </h1>
            </td>
            <td>
                <h3 style="text-align: center; color : #b4e500;">
                    <span data-replace="score"></span>
                </h3>
            </td>
            <td>
                <h1 style="text-align: left;">
                    ${away}
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="text-align: left; padding-left:5px;">
                    <span data-replace="country"></span>
                </h3>
            </td>
            <td>
                <h3 style="text-align: center;">
                    <span data-replace="status"></span>
                </h3>
            </td>
            <td>
                <h3 style="text-align: right; padding-right:5px;">
                    <span data-replace="gpb"></span>
                </h3>
            </td>
        </tr>
    </table>
</div>

