<tr>
    <td>
        <div data-replace="order"> </div>
    </td>
    
    <td style="color : RoyalBlue;">
        <div data-replace="home"> </div>
    </td>
    
    <td style="color : #009900;">
        <div data-replace="score"> </div>
    </td>
    
    <td style="color : SteelBlue;">
        <div data-replace="away"> </div>
    </td>

    <td style="color : #009900;">
        <div data-replace="status"> </div>
    </td>

    <td class="kef win back">
        <div data-replace="winback"></div>
    </td>

    <td class="kef win lay">
        <div data-replace="winlay"></div>
    </td>

    <td class="kef draw back">
        <div data-replace="drawback"></div>
    </td>

    <td class="kef draw lay">
        <div data-replace="drawlay"></div>
    </td>

    <td class="kef lose back">
        <div data-replace="loseback"></div>
    </td>

    <td class="kef lose lay">
        <div data-replace="loselay"></div>
    </td>

    <td data-replace="totalMatched"></td>

    <td data-replace="country"></td>

    </tr>

